@using InternetBanking.Core.Application.ViewModels.Payment
@model CreditCardPayViewModel

<div class="row">
	<div class="col-md-6 offset-3">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Credit Card Payment</h3>
			</div>
			<div class="card-body">
				@if (Model.IsSucceeded)
				{
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						Successfull payment
						<a asp-controller="Home" asp-action="Client" class="btn btn-warning">Home</a>
					</div>
				}
				else
				{
					@if (Model.HasError)
					{
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							@Model.Error
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					}
					<form asp-action="CreditCardPayment">
						<div class="mb-3">
							<label asp-for="CreditCardId" class="form-label">Credit card</label>
							<select asp-for=CreditCardId class="form-select">
								<option value="">Select a credit card</option>
								@if(Model.CreditCards == null || Model.CreditCards.Count == 0)
								{
									<option value="">No tienes tarjetas de credito</option>
								}
								else
								{
									@foreach (var creditCard in Model.CreditCards)
									{
										<option value=@creditCard.Id>@creditCard.Id</option>
									}
								}
							</select>
							<span asp-validation-for="CreditCardId" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="AccountId" class="form-label">Account</label>
							<select asp-for=AccountId class="form-select">
								<option value="">Select an account</option>
								@foreach (var account in Model.Accounts)
								{
									<option value=@account.Id>@account.Id</option>
								}
							</select>
							<span asp-validation-for="AccountId" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="Monto" class="form-label">Monto</label>
							<input asp-for="Monto" class="form-control" step="0.0001" type="number" />
							<span asp-validation-for="Monto" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary">Realizar</button>
						<a asp-controller="Home" asp-action="Client" class="btn btn-warning">Cancel</a>
					</form>
				}
			</div>
		</div>
	</div>
</div>
